In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [7]:
pre_df = pd.read_csv('dane/AviationData.csv', encoding='ISO-8859-1', dtype={6: str, 7: str, 28: str})
df = pre_df[pre_df['Country'] == 'United States']

In [8]:
df.drop(columns=["Latitude", "Registration.Number", "Make","Longitude", "Schedule", "FAR.Description", "Air.carrier", "Airport.Code", "Airport.Name", "Aircraft.Category", "Event.Id", "Accident.Number","Publication.Date","Report.Status"], inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13020\3636417966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Latitude", "Registration.Number", "Make","Longitude", "Schedule", "FAR.Description", "Air.carrier", "Airport.Code", "Airport.Name", "Aircraft.Category", "Event.Id", "Accident.Number","Publication.Date","Report.Status"], inplace=True)

In [9]:
for k in df.keys():
    tmpNum = df.columns.get_loc(k)
    print(tmpNum,k)

0 Investigation.Type
1 Event.Date
2 Location
3 Country
4 Injury.Severity
5 Aircraft.damage
6 Model
7 Amateur.Built
8 Number.of.Engines
9 Engine.Type
10 Purpose.of.flight
11 Total.Fatal.Injuries
12 Total.Serious.Injuries
13 Total.Minor.Injuries
14 Total.Uninjured
15 Weather.Condition
16 Broad.phase.of.flight

In [21]:
good_weather_acc = df.loc[df['Weather.Condition'] == 'VMC'][df['Investigation.Type'] == "Accident"].count()
good_weather_inc = df.loc[df['Weather.Condition'] == 'VMC'][df['Investigation.Type'] == "Incident"].count()
bad_weather_acc = df.loc[df['Weather.Condition'] == 'IMC'][df['Investigation.Type'] == "Accident"].count()
bad_weather_inc = df.loc[df['Weather.Condition'] == 'IMC'][df['Investigation.Type'] == "Incident"].count()

var_gwa = pd.Series(good_weather_acc, name = 'Good Weather Acc')
var_gwi = pd.Series(good_weather_inc, name = 'Good Weather Inc')
var_bwa = pd.Series(bad_weather_acc, name = 'Bad Weather Acc')
var_bwi = pd.Series(bad_weather_inc, name = 'Bad Weather Inc')



#df1 = pd.DataFrame({'Good Weather Acc': var_gwa,
 #                  'Good Weather Inc': var_gwi,
  #                 'Bad Weather Acc': var_bwa,
   #                'Bad Weather Inc' : var_bwi})

#df1 = pd.DataFrame(df, df['Event.Date'])

investigation_type = df1.iloc[0]
investigation_type

C:\Users\User\AppData\Local\Temp\ipykernel_13020\3421240661.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  good_weather_acc = df.loc[df['Weather.Condition'] == 'VMC'][df['Investigation.Type'] == "Accident"].count()
C:\Users\User\AppData\Local\Temp\ipykernel_13020\3421240661.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  good_weather_inc = df.loc[df['Weather.Condition'] == 'VMC'][df['Investigation.Type'] == "Incident"].count()
C:\Users\User\AppData\Local\Temp\ipykernel_13020\3421240661.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bad_weather_acc = df.loc[df['Weather.Condition'] == 'IMC'][df['Investigation.Type'] == "Accident"].count()
C:\Users\User\AppData\Local\Temp\ipykernel_13020\3421240661.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bad_weather_inc = df.loc[df['Weather.Condition'] == 'IMC'][df['Investigation.Type'] == "Incident"].count()

Good Weather Acc    73342
Good Weather Inc     1975
Bad Weather Acc      5390
Bad Weather Inc       228
Name: Investigation.Type, dtype: int64

In [12]:
df['Event.Date']

0        1948-10-24
1        1962-07-19
2        1974-08-30
3        1977-06-19
4        1979-08-02
            ...
88884    2022-12-26
88885    2022-12-26
88886    2022-12-26
88887    2022-12-26
88888    2022-12-29
Name: Event.Date, Length: 82248, dtype: object

In [13]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_13020\1540095821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [14]:
df['year'] = df['Event.Date'].dt.year

C:\Users\User\AppData\Local\Temp\ipykernel_13020\3156314536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['Event.Date'].dt.year

In [23]:
grouped = df.groupby(['year','Investigation.Type'])

In [25]:
counts = grouped.size()

In [32]:
df_counts = counts.reset_index(name='count')
df_counts

    year Investigation.Type  count
0   1948           Accident      1
1   1962           Accident      1
2   1974           Accident      1
3   1977           Accident      1
4   1979           Accident      2
..   ...                ...    ...
83  2020           Incident      6
84  2021           Accident   1173
85  2021           Incident      8
86  2022           Accident   1237
87  2022           Incident     13

[88 rows x 3 columns]

In [33]:
df_counts.set_index('year',inplace=False)

     Investigation.Type  count
year
1948           Accident      1
1962           Accident      1
1974           Accident      1
1977           Accident      1
1979           Accident      2
...                 ...    ...
2020           Incident      6
2021           Accident   1173
2021           Incident      8
2022           Accident   1237
2022           Incident     13

[88 rows x 2 columns]